```html
{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>About</h2>
          <p><a href="/">Home</a></p>
          <p>
            Hello! My name is Susan Chor. I am an equity research associate at Bank of America Securities covering biopharma and biotech. 
            Many biopharma companies have begun to give some guidance on how the additional manufacturer discount will impact 2025 revenue.
            I have created this website to help investors understand the impact of the changes to Medicare Part D coverage contributions in 2025 based on historical spending data.
            Although Medicare Part D spending data is publicly available, the dataset is massive and difficult to navigate.
            I have parsed the data to make it easier to understand and analyze. 
            My question as an equity research associate is: Are companies accurately reflecting the impact of the changes to Medicare Part D coverage contributions in 2025?  
          </p>
        </div>
      </div>
      
{% endblock %}