{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Hello World!</h2>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="https://www.cms.gov/inflation-reduction-act-and-medicare/part-d-improvements">CMS.gov/a> (Official guidance from CMS)</li>
            <li><a href="https://www.kff.org/medicare/issue-brief/changes-to-medicare-part-d-in-2024-and-2025-under-the-inflation-reduction-act-and-how-enrollees-will-benefit/">KFF.org</a>(For more information on the changes)</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}